$bg_color:#333;
$font_color:#ccc;
$link_color:#ccc;
$link_hover_color:#aaa;

body{
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}

.container{
  position:relative;
  margin:0 auto;
  height:40vw;
  display:flex;
  justify-content:center;
  opacity: 0;
  animation:mainFadeIn 0.3s forwards 1s;
}

.main-slider{
  position:relative;
  width:calc(100vw - 26vw);
  height:100%;
  overflow:hidden;

  .slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    &:target{
      z-index:3;
      animation: show 1s;
      
      &:first-of-type{
        z-index:3;
        .meta{
          transform:translateX(-50px);
          filter:blur(5px);
          opacity:0;
        }
      }
      
      .meta{
        animation: showMeta 1s ease .9s forwards;
      }
    }
    
    &:not(:target){
      &:not(:first-of-type){
        animation: hide 1s ease;

        .meta{
          animation: hideMeta 1s ease forwards;
        }
      }
    }
    
    &:first-of-type{
      z-index:1;
      .meta{
        transform:translateX(0);
        filter:blur(0);
        opacity:1;
      }
    }

    .meta{
      position:absolute;
      top:calc(50% - 19px);
      left:0;
      padding:0 40% 0 2.4vw;
      color:#fff;
      text-align:left;
      
      transform:translateX(-50px);
      filter:blur(5px);
      opacity:0;
  
      .title{
        font-size:38px;
        font-weight:800;
      }
      .desc{
        margin-top:20px;
        font-size:15px;
      }
    }
  }
}

.thumbnail-slider{
  position:relative;
  width:26vw;
  height:100%;
  line-height:0;
  overflow-y:auto;
  
  &::-webkit-scrollbar{
        width:5px;
    }
    &::-webkit-scrollbar-track{
        background-color:rgba(#fff,.28);
    }
    &::-webkit-scrollbar-thumb {
        background-color:rgba(#fff,.44);
    }

  .slide{
    position:relative;
    height:20%;
    overflow:hidden;
    
    &:hover{
      figure{
        img{
          transform:scale(1.1);
        }
      }
    }

    figure{
      img{
        transition:transform .5s;
      }
    }
  }
}

.slide{
  figure{
    height:100%;
    img{
      position:relative;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
  }
}

@keyframes mainFadeIn{
  to {
    opacity:1;
  }
}

@keyframes show{
  0% {
    transform: translateX(-100%);
    
    // Vertical slide
    // transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
    
    // Vertical slide
    // transform: translateY(0);
  }
}

@keyframes hide{
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes showMeta{
  0%{
    transform:translateX(-50px);
    filter:blur(5px);
    opacity:0;
  }
  100% {
    transform:translateX(0);
    filter:blur(0);
    opacity:1;
  }
}

@keyframes hideMeta{
  0% {
    transform:translateX(0);
    filter:blur(0);
    opacity:1;
  }
  100% {
    transform:translateX(-50px);
    filter:blur(5px);
    opacity:0;
  }
}