$bg_color:#333;
$font_color:#ccc;
$link_color:#ccc;
$link_hover_color:#aaa;

body{
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}

.container{
  position:relative;
  margin:0 auto;
  height:40vw;
  display:flex;
  justify-content:center;
  opacity:0;
  animation:mainFadeIn 0.3s ease forwards 1s;
}

.main-slider{
  position:relative;
  width:calc(100vw - 26vw);
  height:100%;
  overflow:hidden;

  .slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    &:target{
      &::before{
        opacity:1;
      }
      
      &:first-of-type{
        .meta{
          .title{
            span{
              transform:translateY(100%);
            }
          }
          .desc{
            span{
              transform:translateY(-100%);
            }
          }
        }
      }

      z-index:3;

      figure{
        img{
          animation: show 2.2s ease forwards;
        }
      }

      .meta{
        .title{
          span{
            animation: showTitle 1.2s forwards .8s;
          }
        }
        .desc{
          span{
            animation: showDesc 1s forwards 1.2s;
          }
        }
      }
    }
    
    &:not(:target){
      &:not(:first-of-type){
        animation: zIndex 2.2s ease forwards;
        figure{
          img{
            animation: hide 2.2s ease forwards;
          }
        }
        .meta{
          .title{
            span{
              animation: hideTitle 1s forwards;
            }
          }
          .desc{
            span{
              animation: hideDesc 1s forwards;
            }
          }
        }
      }
    }
    
    &:first-of-type{
      z-index:2;
      .meta{
        .title,
        .desc{
          span{
            transform:translateY(0);
          }
        }
      }
    }
    
    &::before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#fff;
      transition:opacity .3s ease;
      opacity:0;
    }

    .meta{
      position:absolute;
      top:calc(50% - 19px);
      left:0;
      margin:0 40% 0 2.4vw;
      color:#fff;
      text-align:left;
      line-height:1.26;
      
      .title,
      .desc{
        overflow:hidden;
        span {
          display:inline-block;
          // transition:transform 1.2s;
        }
      }
  
      .title{
        font-size:38px;
        font-weight:800;
        span{
          transform:translateY(100%);
        }
      }
      .desc{
        margin-top:15px;
        font-size:15px;
        span{
          transform:translateY(-100%);
        }
      }
    }
  }
}

.thumbnail-slider{
  position:relative;
  width:26vw;
  height:100%;
  line-height:0;
  overflow-y:auto;
  
  &::-webkit-scrollbar{
        width:5px;
    }
    &::-webkit-scrollbar-track{
        background-color:rgba(#fff,.28);
    }
    &::-webkit-scrollbar-thumb {
        background-color:rgba(#fff,.44);
    }

  .slide{
    position:relative;
    height:20%;
    overflow:hidden;
    
    &:hover{
      figure{
        img{
          transform:scale(1.1);
        }
      }
    }

    figure{
      img{
        transition:transform .5s;
      }
    }
  }
}

.slide{
  figure{
    height:100%;
    img{
      position:relative;
      width: 100%;
      height:100%;
      object-fit: cover;
    }
  }
}

@keyframes mainFadeIn{
  to {
    opacity:1;
  }
}

@keyframes show{
  0% {
    transform: scale(1.24);
    opacity:0;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}

@keyframes hide{
  0% {
    transform: scale(1);
    opacity:1;
  }
  100% {
    transform: scale(1.2);
    opacity:0;
  }
}

@keyframes zIndex{
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes showTitle{
  0% {
    transform:translateY(100%);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes hideTitle{
  0% {
    transform:translateY(0);
  }
  100% {
    transform:translateY(100%);
  }
}

@keyframes showDesc{
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes hideDesc{
  0% {
    transform:translateY(0);
  }
  100% {
    transform:translateY(-100%);
  }
}