.slide {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0;

  width: 100%;
  height: 700px;

  @keyframes topVideo {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    15% {
      opacity: 1;
      visibility: visible;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .bg-img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
  }
  .bg-img {
    animation: topImg 2s 5.7s linear 1 forwards;
    background-image: url(../../images/1.jpg), linear-gradient(#59c047, #d87787);
    // background-blend-mode: hard-light;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  video {
    // object-fit: cover;
    animation: topVideo 7s 0s linear 1 backwards;
  }
}
@keyframes topImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
