.container {
  position: relative;
  margin: 10px auto 0;
  max-width: 1050px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-animation: mainFadeIn 0.3s forwards 1s;
          animation: mainFadeIn 0.3s forwards 1s;
}

@media (max-width: 770px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-slider {
  position: relative;
  max-width: 1050px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider .slide:first-of-type {
  z-index: 1;
}

.main-slider .slide:first-of-type .meta {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
}

.main-slider .slide .meta {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 400px;
  margin-left: 10%;
  color: #fff;
  text-align: left;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 0;
}

@media (max-width: 540px) {
  .main-slider .slide .meta {
    top: 40%;
    margin: 0 10px;
  }
}

.main-slider .slide .meta h2 {
  font-size: 3rem;
}

.main-slider .slide .meta p {
  margin-top: 20px;
}

.main-slider .slide:target {
  z-index: 3;
  -webkit-animation: show 1s;
          animation: show 1s;
}

.main-slider .slide:target .meta {
  -webkit-animation: showMeta 1s ease .9s forwards;
          animation: showMeta 1s ease .9s forwards;
}

.main-slider .slide:target:first-of-type {
  z-index: 3;
}

.main-slider .slide:target:first-of-type .meta {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 0;
}

.thumbnail-slider {
  position: relative;
  width: 30%;
  height: 100%;
  line-height: 0;
  overflow-y: auto;
}

@media (max-width: 770px) {
  .thumbnail-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 550px;
    height: auto;
    margin: 10px auto 0;
  }
}

@media (max-width: 770px) and (max-width: 540px) {
  .thumbnail-slider {
    max-width: 320px;
    width: 100%;
  }
}

.thumbnail-slider::-webkit-scrollbar {
  width: 5px;
}

.thumbnail-slider::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.28);
}

.thumbnail-slider::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.44);
}

.thumbnail-slider .slide {
  position: relative;
  height: 20%;
  overflow: hidden;
}

@media (max-width: 770px) {
  .thumbnail-slider .slide {
    height: 80px;
    padding: 0 5px;
  }
}

@media (max-width: 770px) and (max-width: 540px) {
  .thumbnail-slider .slide {
    height: 50px;
  }
}

.thumbnail-slider .slide:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slide figure {
  height: 100%;
}

.slide figure img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@-webkit-keyframes mainFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showMeta {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes showMeta {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=thumbnail-carousel-slider.css.map */