body {
  position: relative;
}
.foot-nav {
  width: 100%;
  line-height: 20px;
  bottom: 0;
  position: fixed;
  padding: 5px 10px 15px;
  .nav-menu {
    display: flex;
    text-align: center;
    .nav-item {
      width: 25%;
      background-color: whitesmoke;
      p {
        font-size: 1.1rem;
      }
    }
  }
}