
 input[type="radio"] {
  display: none;
 }

.slide {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
 }
}

.thumbnail {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 30px;
  justify-content: center;
  img {
  display: block;
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
 }
}

 @keyframes thumb1 {
  0% {
   filter: grayscale(0%);
  }
 
  6% {
   filter: grayscale(100%);
  }
 
  10% {
   filter: grayscale(100%);
  }
 
  28% {
   filter: grayscale(100%);
  }
 
  37% {
   filter: grayscale(0%);
  }
 
  100% {
   filter: grayscale(0%);
  }
 }
 @keyframes thumb2 {
  0% {
   filter: grayscale(0%);
  }
 
  6% {
   filter: grayscale(100%);
  }
 
  10% {
   filter: grayscale(100%);
  }
 
  28% {
   filter: grayscale(100%);
  }
 
  37% {
   filter: grayscale(0%);
  }
 
  100% {
   filter: grayscale(0%);
  }
 }

 @keyframes thumb3 {
  0% {
   filter: grayscale(0%);
  }
 
  6% {
   filter: grayscale(100%);
  }
 
  10% {
   filter: grayscale(100%);
  }
 
  28% {
   filter: grayscale(100%);
  }

  37% {
   filter: grayscale(0%);
  }
 
  100% {
   filter: grayscale(0%);
  }
}

 @keyframes thumb4 {
  0% {
   filter: grayscale(0%);
  }
 
  6% {
   filter: grayscale(100%);
  }
 
  10% {
   filter: grayscale(100%);
  }
 
  28% {
   filter: grayscale(100%);
  }
 
  37% {
   filter: grayscale(0%);
  }
 
  100% {
   filter: grayscale(0%);
  }
 }

 @keyframes slideshow1 {
  0% {
   opacity: 0;
  }
 
  10% {
   opacity: 1;
  }
 
  28% {
   opacity: 1;
  }
 
  38% {
   opacity: 0;
  }
 
  100% {
   opacity: 0;
  }
 }
 
 @keyframes slideshow2 {
  0% {
   opacity: 0;
  }
 
  10% {
   opacity: 1;
  }
 
  28% {
   opacity: 1;
  }
 
  38% {
   opacity: 0;
  }
 
  100% {
   opacity: 0;
  }
 }

 @keyframes slideshow3 {
  0% {
   opacity: 0;
  }
 
  10% {
   opacity: 1;
  }
 
  28% {
   opacity: 1;
  }
 
  38% {
   opacity: 0;
  }
 
  100% {
   opacity: 0;
  }
 }

 @keyframes slideshow4 {
  0% {
   opacity: 0;
  }
 
  10% {
   opacity: 1;
  }
 
  28% {
   opacity: 1;
  }
 
  38% {
   opacity: 0;
  }
 
  100% {
   opacity: 0;
  }
 }
 
 /*ページを開いたとき＆一つ目のサムネイルをクリックしたとき*/
 #img1:checked ~ .thumbnail{
  label[for="img1"] img {
  animation: thumb1 24s linear infinite both;
  animation-delay: 0s;
  cursor: auto;
  }
  label[for="img2"] img {
  animation: thumb1 24s linear infinite both;
  animation-delay: 6s;
 }
 label[for="img3"] img {
  animation: thumb1 24s linear infinite both;
  animation-delay: 12s;
 }
 label[for="img4"] img {
  animation: thumb1 24s linear infinite both;
  animation-delay: 18s;
 }
}
 #img1:checked {
  &~ .slide img {
  animation: slideshow1 24s linear infinite;
 }
 &~ .slide img:nth-child(1) {
  animation-delay: 0s;
 }
 &~ .slide img:nth-child(2) {
  animation-delay: 6s;
 }
 &~ .slide img:nth-child(3) {
  animation-delay: 12s;
 }
 &~ .slide img:nth-child(4) {
  animation-delay: 18s;
 }
}
 /*二つ目のサムネイルをクリックしたとき*/
 #img2:checked ~ .thumbnail {
 label[for="img1"] img {
  animation: thumb2 24s linear infinite both;
  animation-delay: 18s;
 }
 label[for="img2"] img {
  animation: thumb2 24s linear infinite both;
  animation-delay: 0s;
  cursor: auto;
 }
 label[for="img3"] img {
  animation: thumb2 24s linear infinite both;
  animation-delay: 6s;
 }
 label[for="img4"] img {
  animation: thumb2 24s linear infinite both;
  animation-delay: 12s;
 }
}
 #img2:checked {
   &~ .slide img {
  animation: slideshow2 24s linear infinite;
 }
 &~ .slide img:nth-child(1) {
  animation-delay: 18s;
 }
 &~ .slide img:nth-child(2) {
  animation-delay: 0s;
 }
 &~ .slide img:nth-child(3) {
  animation-delay: 6s;
 }
 &~ .slide img:nth-child(4) {
  animation-delay: 12s;
 }
}
 /*三つ目のサムネイルをクリックしたとき*/
 #img3:checked ~ .thumbnail {
   label[for="img1"] img {
  animation: thumb3 24s linear infinite both;
  animation-delay: 12s;
 }
 label[for="img2"] img {
  animation: thumb3 24s linear infinite both;
  animation-delay: 18s;
 }
 label[for="img3"] img {
  animation: thumb3 24s linear infinite both;
  animation-delay: 0s;
  cursor: auto;
 }
 label[for="img4"] img {
  animation: thumb3 24s linear infinite both;
 }
}
 #img3:checked {
   ~ .slide img {
  animation: slideshow3 24s linear infinite;
 }
 &~ .slide img:nth-child(1) {
  animation-delay: 12s;
 }
 &~ .slide img:nth-child(2) {
  animation-delay: 18s;
 }
 &~ .slide img:nth-child(3) {
  animation-delay: 0s;
 }
 &~ .slide img:nth-child(4) {
  animation-delay: 6s;
 }
}
 /*四つ目のサムネイルをクリックしたとき*/
 #img4:checked ~ .thumbnail {
   label[for="img1"] img {
  animation: thumb4 24s linear infinite both;
  animation-delay: 6s;
 }
  label[for="img2"] img {
  animation: thumb4 24s linear infinite both;
  animation-delay: 12s;
 }
  label[for="img3"] img {
  animation: thumb4 18s linear infinite both;
  animation-delay: 0s;
 }
  label[for="img4"] img {
  animation: thumb4 24s linear infinite both;
  animation-delay: 0s;
  cursor: auto;
 }
}
 #img4:checked {
   &~ .slide img {
  animation: slideshow4 24s linear infinite;
 }
 &~ .slide img:nth-child(1) {
  animation-delay: 6s;
 }
 &~ .slide img:nth-child(2) {
  animation-delay: 12s;
 }
 &~ .slide img:nth-child(3) {
  animation-delay: 18s;
 }
 &~ .slide img:nth-child(4) {
  animation-delay: 0s;
 }
}